{% if site.posts.size > 0 %}
<!-- begin resources -->
<section class="section blog animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
  
        {% if site.data.settings.section_blog_title %}
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.section_blog_title }}</h2>
            <a class="section__link" href="{{ '/blog/' | relative_url }}">View all</a>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
        </div>
        {% endif %}
  
        <div class="row grid">
          {% for post in site.posts limit:3 %}
            {% include article.html %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

</section>
<!-- end resources -->
{% endif %}
